@import "base";
@mixin center-block{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
@mixin center-c{
    display:flex;
    justify-content: center;
    align-items: center;
}
@mixin position-center{
    position: absolute;
    top:50%;
    left:50%;
}
@mixin center-Y{
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
a{
    text-decoration: none;
    color:#000;
}
//头部导航
header{
    z-index: 999;
   
    section:first-child{
        width:100%;
        height:60px;
        border-bottom: 1px solid #eee;
        @include center-block;

        .topleft{
            margin-right: -1px;
            cursor: pointer;
            margin-left:15px;
            img{
                width:137px;
                height:32px;
            }
        }
//头部中间
        nav{
            cursor: pointer;
            ul{
                @include center-block;
                li{
                    padding:0 20px;
                    a{
                        text-decoration: none;
                        color:#000;
                        font-weight: bold;
                        font-size:14px;
                        
                        line-height:58px;
                        p:last-child{
                            border: 1px solid #000;
                            line-height: 1;
                            padding: 1px 2px;
                            border-radius: 5px;
                            transform: scale(.7);
                        }
                    }
                    a:first-child{
                        @include center-block;
                    }
                }
                li:hover{
                    margin-top:2px;
                    border-bottom:2px red solid;
                }
               
            }
        }
//头部右边
        .topright{
            @include center-block;
            position: relative;
            main{
                width:60px;
                height:60px;
                float:left;
                position: relative;
            
                .iconfont{
                    position: absolute;
                    top:50%;
                    left:50%;
                    margin-top:-10px;
                    margin-left:-10px;
                    border-bottom: 2px solid transparent;
                    font-size: 26px;
                    font-weight: bolder;
                    .sc_num{
                        position: absolute;
                        padding:5px;
                        top:-6px;
                        font-size:14px;
                        border-radius: 50%;
                        background: red;
                        color: #fff;
                        z-index: 20;
                    }

                }
            }
            .user-nav{
                z-index: 99;
                display:none;
                .user-info-nav{
                    border:1px solid #eee;
                    width: 20pc;
                    margin-top: 20px;
                    padding-bottom:20px;
                    position: absolute;
                    top:41px;
                    right:0px;
                    background:#fff;
                    ol{
                        margin-top: 20px;
                        width:20pc;
                        li{
                            margin: 0 20px;
                            line-height: 50px;
                            height: 50px;
                            border-bottom: 1px solid #eee;
                            a{
                                font-size:14px;
                                color: #828282;
                            }
                        }
                        li:last-child{
                            text-align: right;
                            a{
                                color:#09c;
                            }
                            a:hover{
                                text-decoration: underline;

                            }
                        }
                    }
                }
            }
            .basket{
                border:1px solid #eee;
                display:none;
                z-index: 99;
                background:#fff;
                position: absolute;
                top:61px;
                right:0;
                width:400px;
                .basket-tit{
                    padding:0 20px;
                    .cart{
                        padding: 10px 0;
                        .free{
                            line-height: 1.5;
                            padding: 5px 0;
                            color: #000;
                            font-size: 14px;
                        }
                        .bar{
                            position: relative;
                            width: 100%;
                            height: 5px;
                            background-color: #eee;
                            margin: 5px 0;
                        }
                    }
                }
                .basket-main{
                    max-height: 25pc;
                    overflow-y: auto;
                    .minicart{
                        position: relative;
                        .no-good{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 40px 20px;
                            text-align: center;
                            font-size: 18px;
                            color: #999;
                            .icon-cart{
                                svg{
                                    font-size: 70px;
                                    opacity: .2;
                                    display: inline-block;
                                    line-height: 1;
                                    height: 1em;
                                    width: 1em;
                                }
                            }
                            .text-cart{
                                margin-top: 20px;
                                p{
                                    font-size: 1pc;
                                    line-height: 1.5;
                                }
                            }
                        }
                    }
                }
                .basket-info{
                    position: relative;
                    border-top: 1px solid #dfdfdf;
                    padding: 20px;
                    .cart-link{
                        margin:10px 0;
                        line-height: 1;
                        // padding: 10px 0;
                        border:1px solid #000;

                        a{
                            line-height: 40px;
                            height: 40px;
                            font-size: 14px;
                            display: inline-block;
                            color: #000;
                            margin-bottom: 0;
                            font-weight: 300;
                            text-align: center;
                            cursor: pointer;
                            position: relative;
                            z-index: 20;
                            border-radius: 2px;
                            width: 100%;
                            position: relative;
                        }
                        .black{
                            display:block;
                            background:#000;
                            width:0;
                            height:40px;
                            position: absolute;
                            z-index: 10;
                            top:31px;
                            color:#fff;
                            text-align: center;
                            
                        }

                        a:hover{
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}
//二级导航
#navigation{
    width:100%;
    position: absolute;
    z-index: 100;
    background-color: #fff;
   
    .first-list{
        
        box-sizing:border-box;
        height:160px;
        border-bottom:1px solid #000;
        @include center-c;
        ul{
            
            width:1200px;
            height:160px;
            @include center-c;
            margin:auto;
            li{
                box-sizing: border-box;
                @include center-Y;
                width:128px;
                height:120px;
                
                float:left;
                padding:10px 10px 0;
                margin:20px 0 0;
                
                a{
                    display:block;
                    width:108px;
                    height:78px;
                    @include center-Y;

                    #icon-head-nord{
                        width:40px;
                        height:40px;
                        padding-bottom:10px;
                    }    
                    p{
                        font-weight: bold;
                        font-size: 14px;
                        text-align: center;
                        width:108px;
                        height:28px;
                        line-height:28px;                
                    }
                }
            }
            li:nth-child(2){
                a{
                    height:106px;
                    p{
                        height:56px;
                        
                    }
                }
            
            }
            li:hover a{
                color:red;
            }
        }    
        display:none;    
    }

    .last-list{
        position:relative;
        box-sizing:border-box;
        height:160px;
        border-bottom:1px solid #000;
        @include center-c;
        ul{
            
            width:1200px;
            height:160px;
            @include center-c;
            margin:auto;
            li{
                box-sizing: border-box;
                @include center-Y;
                width:128px;
                height:120px;
                
                float:left;
                padding:10px 10px 0;
                margin:20px 0 0;
                
                a{
                    display:block;
                    width:108px;
                    height:78px;
                    @include center-Y;
                
                }
                    svg{
                        width:40px;
                        height:40px;
                        margin-bottom:10px;
                        
                    }
                    p{
                        
                        font-size: 14px;
                        text-align: center;
                        width:108px;
                        height:28px;
                        font-weight: bold;
                        line-height:28px;                
                    }
                }
            }
            li:hover a{
                color:red;
        }
        display:none;    
    }
}



// 中间购物车
.shoppingBox{
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 382px - 60px);
    .shopping{
        font-size: 14px;
        position: relative;
        height: auto;
        .shopping-wrapper{
            padding: 40px 0;
            background-color: #f5f5f5;
            .shopping-content{
                height: 490px;
                text-align: center;
                width: auto;
                margin-left: 20px;
                margin-right: 20px;
                background-color: #fff;
                box-sizing: border-box;
                margin: auto;
                padding: 30px 40px;
                min-height: 100px;
                .shopBox{
                    display:none;
                    text-align: center;
                    .imgbox{
                        display: inline-block;
                        width: auto;
                        height: 60px;
                        img{
                            height: 100%;
                            vertical-align: middle;
                        }
                    }
                    p{
                        margin-top: 25px;
                        font-size: 14px;
                        color: #666;
                    }

                    .shopLink{
                        margin-top: 60px;
                        a{
                            display:block;
                            color: #fff;
                            background-color: #F34141;
                            font-size: 16px;
                            width: 196px;
                            height: 60px;
                            line-height: 60px;
                            margin:auto;
                            border-radius: 5px;
                        }
                    }
    
                }
                .shopping-list{
                    width: auto;
                    margin-left: 20px;
                    margin-right: 20px;
                    .shop-tit{
                        color: #333;
                        font-size: 18px;
                        padding-bottom: 16px;
                    }
                    .shop-list{
                        box-sizing: border-box;
                        border-bottom: 1px #EDEDED solid;
                        border-top: 1px #EDEDED solid;
                        .shopp-item:first-child{
                            border-top: none;
                        }
                        .shopp-item{
                            padding: 14px 0;
                            position: relative;
                            box-sizing: border-box;
                            .shop-row{
                                
                                .list1{
                                    box-sizing: border-box;
                                    padding: 6px 0;
                                    width: 100%;
                                    display:flex;
                                    align-items: center;
                                    .select{
                                        width: 40px;
                                        text-align: center;
                                        .current{
                                            align-items: center;
                                            cursor: pointer;
                                            i{
                                                display: inline-block;
                                                width: 24px;
                                                height: 24px;
                                                line-height: 23px;
                                                border: #dce1e4 1px solid;
                                                box-sizing: border-box;
                                                border-radius: 12px;
                                                vertical-align: bottom;
                                                text-align: center;
                                            }
                                        }
                                    }
                                    .image{
                                        padding-right: 30px;
                                        padding-left: 20px;
                                        height: 80px;
                                        width: 80px;
                                        position: relative;
                                        text-align: center;
                                        a{
                                            color: #333;
                                            text-decoration: none;
                                            cursor: pointer;
                                            -webkit-tap-highlight-color: rgba(0,0,0,0);
                                            background-color: white;
                                            img{
                                                width: auto;
                                                height: 80px;
                                            }
                                        }
                                    }
                                    .title{
                                        width: 220px;
                                        a{
                                            display: inline-block;
                                            vertical-align: middle;
                                            color: #333;
                                            text-decoration: none;
                                            cursor: pointer;
                                        }
                                    }
                                    .standard-width{
                                        width: 180px;
                                        .pric{
                                            padding: .2em 0;
                                            display: block;
                                        }
                                    }
                                    .increase{
                                        .number{
                                            width: 150px;
                                            position: relative;
                                            display: inline-block;
                                            -webkit-box-sizing: border-box;
                                            box-sizing: border-box;
                                            border: 1px solid #dce1e4;
                                            width: 196px;
                                            height: 44px;
                                            // overflow: hidden;
                                            .disable{
                                                position: absolute;
                                                left:0;
                                                width:50px;
                                                height:42px;
                                                font-size:30px;
                                            }
                                            .add{
                                                width:50px;
                                                height:42px;
                                                position: absolute; 
                                                right:0;
                                                font-size:30px;
                                            }
                                            // i{
                                            //     width: 50px;
                                            //     z-index: 2;
                                            // }
                                            // .disable{
                                            //     position: absolute;
                                            //     left: 0;
                                            //     cursor: pointer;
                                            //     text-align: center;
                                            //     overflow: hidden;
                                            //     width: 70px;
                                            //     height: 42px;
                                            // }
                                            // .disable:after{
                                            //     content: '';
                                            //     position: absolute;
                                            //     display: inline-block;
                                            //     width: 12px;
                                            //     height: 2px;
                                            //     background: #666;
                                            //     left: 50%;
                                            //     margin-left: -6px;
                                            //     top: 50%;
                                            //     margin-top: -1px;
                                            // }
                                            // .add{
                                            //     position: absolute;
                                            //     right: 0;
                                            //     text-align: center;
                                            //     cursor: pointer;
                                            //     overflow: hidden;
                                            //     width: 70px;
                                            //     height: 42px;
                                            // }
                                            // .add:before{
                                            //     content: '';
                                            //     position: absolute;
                                            //     display: inline-block;
                                            //     width: 2px;
                                            //     height: 12px;
                                            //     background: #666;
                                            //     left: 50%;
                                            //     margin-left: -1px;
                                            //     top: 50%;
                                            //     margin-top: -6px;
                                            // }
                                            // .add:after{
                                            //     content: '';
                                            //     position: absolute;
                                            //     display: inline-block;
                                            //     width: 12px;
                                            //     height: 2px;
                                            //     background: #666;
                                            //     left: 50%;
                                            //     margin-left: -6px;
                                            //     top: 50%;
                                            //     margin-top: -1px;
                                            // }
                                            .input-number{
                                                box-sizing: border-box;
                                                // position: absolute;
                                                height: 100%;
                                                left: 0;
                                                top: 0;
                                                background: transparent;
                                                margin: 0;
                                                overflow: hidden;
                                                input{
                                                    text-align: center;
                                                    border: none;
                                                    width: 100%;
                                                    height: 100%;
                                                    font-size: 16px;
                                                    -webkit-box-sizing: border-box;
                                                    box-sizing: border-box;
                                                    padding: 11px 23px;
                                                    line-height: 1;
        
                                                }
                                            }
                                        }
                                    }
                                    .handle{
                                        -webkit-box-flex: 1;
                                        flex: 1;
                                        text-align: right;
                                        padding-right: 20px;
                                        padding-left: 20px;
                                        .delete{
                                            pointer-events: all;
                                            font-size: 18px;
                                            display: inline-block;
                                            padding: .2em;
                                            margin: 0 .2em;
                                            color: #666;
                                            pointer-events: all;
                                            font-size: 18px;
                                            color: #666;
                                          
                                            
                                            
                                        }
                                    }
    
                                }
                            }
                        }
                    }
                }
    
                .shp-cart-bar{
                    width: 100%;
                    padding-top: 50px;
                    padding-bottom: 20px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    .shp-cartbar-continue{
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        vertical-align: top;
                        text-align: left;
                        .shp-shopping-btn{
                            color: #333;
                            display: inline-block;
                            line-height: 30px;
                            cursor: pointer;
                            b{
                                position: relative;
                                font-size: 18px;
                                display: inline-block;
                                vertical-align: middle;
                                padding-right: 8px;
                                top: -2px;
                            }
                        }
                    }
                    .shp-cartbar-total{
                        vertical-align: top;
                        text-align: right;
                        .cartbar-tota-price{
                            width: 100%;
                            display: table;
                            padding-bottom: 20px;
                            .payM{
                                text-align: left;
                                display:block;
                                color: #666;
                            }
                            strong{
                                color: #333;
                                font-weight: normal;
                                font-size: 30px;
                                display: table-cell;
                                white-space: nowrap;
                                overflow: hidden;
                                .rmb{
                                    font-size: 21px;
                                }
                              
                            }
                        }
                        .cartbar-tota-btn{
                            a{
                                width: 196px;
                                height: 60px;
                                line-height: 60px; 
                                color: #fff;
                                background-color: #F34141;
                                font-size: 16px;
                                display: inline-block;
                                margin-bottom: 0;
                                text-align: center;
                                vertical-align: middle;
                                cursor: pointer;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}




// 底部
#footer{
    clear:both;
    border-top: 1px solid rgba(0,0,0,.2);
    position: relative;
    .footer-nav{
        margin:auto;
        width:1200px;
        height:340px;
        padding: 20px 15px 20px 0;

        dl{
            float:left;
            width:25%;
            dt{
                padding: 0 20px;
                font-size: 1pc;
                height: 50px;
                line-height: 50px;
                position: relative;
                color: #000;
                font-weight: bold;
            }
            dd{
                height: auto;
                overflow: hidden;
                padding:0 20px;
                ul{
                    padding-bottom:10px;
                    li{
                        padding:8px 0;
                        font-weight: bold;
                        a{
                            color:#828282;
                        }
                    }
                    li a:hover{
                        color:#000;
                    }
                }
            }
        }
    
    }

    .contect-us{
        @include center-block();
        padding:20px;
        width:1200px;
        margin:auto;
        .us1{
            display: flex;
            align-items: center;
            line-height: 1.7;
            font-size: 14px;
            a{
                color: #09c;
                cursor: pointer;
            }
            
        }
        .us2{
            display:flex;

            .tell{
                @include center-c();
                margin: 0;
                padding-left: 1em;
                vertical-align: middle;
                // height:40px;
                
                .tell-num{
                    @include center-c();
                    font-size: 16px;
                    line-height:1.5;
                    color: #09c;
                   
                    #icon-call_v2{
                        display:inline-block;
                        width:40px;
                        height:40px;
                        line-height:1;
                        fill: currentColor;
                    }
                    span{
                        display:block;
                    }
                   
                }
                .tell-talk{
                    @include center-c();
                    font-size: 16px;
                    line-height:1.5;
                    color: #09c;

                    #icon-live-chat{
                        display:inline-block;
                        width:40px;
                        height:40px;
                        line-height:1;
                        fill: currentColor;
                        span{
                            display:block;
                        }    
                    }
                }
                
            }
            .txt1{
                font-size: 14px;
                line-height:3;
                display: inline-block;
                margin: 0;
                padding:0 1em;
                vertical-align: middle;
            }
            .div-line{
                height: .8em;
                border-left: 1px solid rgba(0,0,0,.2);
                vertical-align: middle;
                padding-left: 0;
                width: 0;
                margin-top: 0.9em;
            }
            .logo{
                padding-left:15px;
                .logo-first{
                    position: relative;
                    color: #828282;
                    #icon-wechat{
                        font-size: 40px;
                        margin: 0 5px;
                        width:40px;
                        height:40px;
                        fill: currentColor;
                    }
                    #icon-wechat:hover{
                        color:#000;

                    }
                    // .wechat-qr-code{
                    //     display: block;
                    //     width: 90pt;
                    //     position: absolute;
                    //     z-index: 1;
                    //     bottom: 40px;
                    //     left: 50%;
                    //     transform: translate(-50%);
                    // }
                }
                .logo-last{
                    position: relative;
                    color: #828282;
                    #icon-weibo{
                        font-size: 40px;
                        margin: 0 5px;
                        width:40px;
                        height:40px;
                        fill: currentColor;
                    }
                    #icon-weibo:hover{
                        color:#000;
                    }
                }
            }
        }
    }
}

.footer-bottom{
    border-top: 1px solid rgba(0,0,0,.2);
    background-color: #f9f9f9;
    .bottom-text{
        max-width: 75pc;
        min-width: 300px;
        display: block;
        margin: auto;
        width: 100%;
        .self-help{
            padding: 0 20px;
            @include center-block();
            .cn-box{
                padding: 20px 0;
                cursor: pointer;
                font-weight: 400px;
                .cn{
                    transform: scale(.8);
                    width: 30px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 6px;
                    margin-top: -.2em;
                    background-image: url(..\images\index\ia_100000015.png);
                    background-position: -31px -63px;
                }
            }
            .list-box{
                margin-left: 20px;
                line-height:1.7;
                font-size: 12px;
                ul{
                    @include center-c();
                    li{
                        padding:0 20px;
                        margin-bottom: 8px;
                        padding: 0 15px;
                        border-right: 1px solid rgba(0,0,0,.2);
                        line-height: 9pt;
                    }
                    li:last-child{
                        border-right:none;
                    }
                } 
            }
        }

        .copy-right{
            @include center-block();
            padding: 20px;
            text-align: left;
            line-height: 30px;
            color:#999;
            .font-descriptions{
                font-size: 12px;
                line-height: 1.7;
                .no-wrap{
                    white-space: nowrap;
                    .safe{
                        color:#828282;
                        .safe-num{
                            color:#828282;
                        }
                    }
                }
            }
        }
    }
}